
body {
	margin: 0px;
	padding:20px  70px  30px 70px;	
	font-family: ו;
	font-size: 20px;
	
}

ul li {
	list-style-type:none;
	padding: 4px;	
}
td
  {    	
	margin:2px;
	padding :3px 2px 3px 10px ;
	/* overflow:hidden;*/
	text-decoration:none;
  }